<%= form_with(model: @reply) do |form| %>
  <div class="reply-form mt-2 bottom-0 left-0 p-2 w-full">
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.rich_textarea :body %>
    <div class="flex gap-2 mt-2 justify-end">
      <%= form.submit "Reply", class: "cta" %>
    </div>
    <% if @reply.errors.any? %>
        <ul class="errors">
          <% @reply.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
<% end %>