<%= form_with(model: @reply) do |form| %>
  <div class="reply-form <% if not params[:edit_reply] %>hidden<% else %>slide-up<% end %>">
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.label params[:edit_reply] ? "Edit reply" : "Reply to this post", style: "display: block" %>
    <%= form.rich_textarea :body %>
    <div>
      <%= form.submit %>
      <%= link_to "Cancel", post_path(@post), class: "button" %>
    </div>
    <% if @reply.errors.any? %>
        <ul class="errors">
          <% @reply.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
<% end %>