<li class="reply">
    <div class="title">
        <div>
            <%= render "shared/username", user: reply.user %>
            <span class="date">
                <span class="date"><%= reply.created_at&.strftime("%B %d, %Y %H:%M:%S") %></span>
            </span>
            <% if reply.updated_at.to_i > reply.created_at.to_i %>
                <span class="label">edited</span>
            <% end %>

            </span>
        </div>
        <% if current_user.id == reply.user_id %>
        <div class="actions">
            <%= link_to "Edit", edit_reply_path(reply), class: "button" %>
            <%= button_to "Delete", reply, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
        </div>
    <% end %>
    </div>
    <%= reply.body %>
<li>