<div id="<%= dom_id post %>" class="post">
  <div class="flex flex-col">
    <div class="flex flex-col">
      <p>
        <%= post.topic.name %>
      </p>
      <div class="flex gap-2 justify-between">
        <h1><%= post.title %></h1>
        <% if current_user == @post&.user %>
          <div class="flex gap-2">
            <%= link_to "Edit", edit_post_path(@post), class: "cta" %>
            <%= button_to "Delete", @post, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this post?" }, class: "cta" %>
          </div>
        <% end %>
      </div>
    </div>
    <span>
      <%= post.created_at.strftime("%B %d, %Y %H:%M:%S") %>
    </span>
    <p>
      by <%= render "shared/username", user: post.user %>
    </p>
    <%= post.body %>
  </div>
  <% if @replies %>
    <ul class="my-4">
      <h2 class="label font-bold mb-2">Replies (<%= post.replies.count %>)</h2>
      <% @replies.each_with_index do |reply, index| %>
        <%= render reply %>
        <% if index < @replies.count - 1 %><hr class="divider my-2" /><% end %>
      <% end %>
    </ul>
  <% end %>
  <div class="mt-2">
    <%= render "shared/pagination", page_param: params[:page], total_pages: @total_pages, path: ->(page:) { post_path(@post, page: page) } %>
  </div>
</div>
