<div id="<%= dom_id post %>">

  <h1><%= post.title %></h1>

  <p>
    by <a><%= post.user.username %></a>
  </p>

  <div>
    <%= post.body %>
  </div>

  <p>
    <strong>Published:</strong>
    <%= post.published %>
  </p>

  <p>
    <strong>Topic:</strong>
    <%= post.topic.name %>
  </p>

</div>
