<div id="<%= dom_id post %>">

  <p>
    <%= post.topic.name %>
  </p>

  <h1><%= post.title %></h1>
  <span>
    <%= post.created_at.strftime("%B %d, %Y %H:%M:%S") %>
  </span>
  <p>
    by <a><%= post.user.username %></a>
  </p>

  <div>
    <%= post.body %>
  </div>

  <div class="replies">
    <% post.replies.each do |reply| %>
      <%= render reply %>
    <% end %>
  </div>

</div>
